.menuBar {
  padding: 20px;
}

.optionsButton {
  background-color: hotpink;
  border-radius: 30px 30px 30px 0px;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.optionsCard {
  background-color: white;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  min-width: 250px;
  border-radius: 0px 30px 30px 30px;
  position: absolute;
  border: 2px solid gray;
}

.menuBarButtons {
  width: 100%;
  height: 60px;
  outline: none;
  border: 2px solid rgb(211, 206, 206);
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 30px;
}

.menuBarButtons:hover {
  background-color: rgb(210, 238, 245);
}

.options {
  min-height: 300px;
  min-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
  padding: 5px;
}
