.newColumnForm {
}

form * {
  display: block;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  color: black;
  outline: none;
}

form > label {
  margin-top: 15px;
}

.submitButton {
  margin-top: 15px;
  margin-left: 4px;
  cursor: pointer;
}

#backgroundColour {
  width: 30px;
  padding: 5px;
}
